@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li {
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* ###################### Utility classes ##################  */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333; 
}

.text-gray{
    color: #555555;
}

.bg-dark{
    background-color: #263238;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
   
    
}
.btn-primary{
    background-color: #fff;
    border-radius: 10em;
   
}

.btn-primary:hover{
    background: #ddd;
}
    
.btn-secondary{
    border: 2px solid #e63946;
    color: #e63946;
    border-radius: 1.5em;
    background: #fff;
    
}

.btn-secondary:hover{
    background: #fcf3f2;
}





/* ############################# Header Styling ################################## */







.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../img/header-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

 .navbar{
    padding: 1rem;
} 



.logo{
    float: left;
}
.nav-items{
    float: right;
    margin-top: 1rem;
}

 .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.navbar::after{
    content:" ";
    display: block;
    clear: both;
}  
.navbar a:hover{
    border-bottom: 1px solid white;
    padding: 0.5em;

}

.header-content{
    position: absolute;
    text-align: center;
      top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
    
} 


.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    
}

.header-content p{
    text-transform: uppercase;
    
}

/* ########################## Showcase Section Styling #######################################  */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    background: #fff;
    box-shadow:  0px 0px 20px 0px #aaa;
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    padding: 3rem;

}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row::after{
    content: ;
    display: block;
    clear: both;
}

/* ######################### Features Section Styling #####################  */

.features{
    padding: 10rem 0;
}

.box-wrapper{
    box-shadow: 5px 5px 10px 0 rgba(102, 102, 102, 0.521);
}

.box{
    width: 33.33333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}

.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

.box-wrapper::after{
    content: "" ;
    display: block;
    clear: both;
}

/* ################################ Footer Styling ###############################  */


.footer{
    background: #263238;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.social-media-link i{
    margin: 2rem;
}

/* ############################### About Page Styling #########################################  */

.about{
    padding: 5rem 0;
}


.about-wrapper{
    margin: 3rem 20rem;
}
.left{
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
}

.about-heading::after{
    content: "";
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}
.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

######################## Count Styling #################

.counts{
    margin-top: 3rem;
    border: 2px solid black;
}


.count-item{
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 3rem;

}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

.count-item span {
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.count-item p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}

.cta-banner{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    margin-top: 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);

}

.cta-banner-left{
    float: left;
    width: 60%;
    font-weight: 500;
}

.cta-banner-right{
    float: right;
    width: 40%;
    text-align: right;
}

.p-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
     color: #fff;
    border: 4px solid #fff;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    
}

.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}


/* ############################### Contact Page Styling ################################  */

.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
}



.form-wrapper::after{
    content: "";
    display: block;
    clear: both;

}


.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem ;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .company-address{
    height: 760px;
    margin-bottom: 2rem;
    
}

.address-group{
    margin-bottom: 3rem;
}

.company-address{
    width: 49%;
    float: left;
    padding: 0.3rem;
    background: #fff;
}

.img-setting{
    max-width: 95%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

/* ################################### Form Styling ############################### */

.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    width: 49%;
    float: right;
    padding: 1rem;
    background: #fff;
}

.form h1::after{
    content: "";
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: "*";
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}



/* ############################## Media Queeries ######################################  */

@media (min-width:100px) and (max-width:1024px) {
    html{
        font-size: 50%;
    }

    p{
        font-size: 1.6rem;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
     .header-content h1{
        display: none;
    }
    .row {
        height: auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0 rgba(102, 102, 102, 0.521);
    }

    .features .box-2, 
    .features .box-3 {
        margin-top: 5rem;
    }

    .box-wrapper{
        box-shadow: none;
    }

    .cta-banner-left,
    .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;

    }

    .about-wrapper .left,
    .about-wrapper .right{

        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5rem;
    }

}

@media (orientation: landscape) and (max-height 500px) {
    .header{
        height: 90vmax;
    }
}

